body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: white;
    color: #042A63FF;
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 200px;
    margin-bottom: 5px;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section div {
    padding: 10px;
}

section h3 {
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #042A63FF;
}

a {
    color: #042A63FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.qrcode img {
    max-width: 200px;
    display: block;
    margin-top: 10px;
}

footer {
    background-color: #042A63FF;
    padding: 10px;
    color: white;
    text-align: center;
    bottom: 0;
}